/* .exampleone{
    background-color: rgb(4, 0, 255);
    color: chartreuse;
    height: 100px;
    width: 100px;
    
}
.exampletwo{
    background-color: rgb(25, 0, 255);
    color: rgb(77, 220, 20);
    height: 100px;
    width: 100px;
    
}
.examplethree{  
    background-color: rgb(0, 37, 139);

    height: 100px;
    width: 100px;
}
.examplefour{   
    background-color: darkred;
    height: 100px;
    width: 100px;
}
.examplefive{
    background-color: darkred;
    height: 100px;
    width: 100px;
}
.examplesix{    
    background-color: darkred;
    height: 100px;
    width: 100px;
}
.exampleseven{
    background-color: darkred;
    height: 100px;
    width: 100px;
}
.exampleeight{
    background-color: darkred;
    height: 100px;
    width: 100px;
}
.examplenine{
    background-color: darkred;
    height: 100px;
    width: 100px;
}
.exampleten{
    background-color: darkred;
    height: 100px;
    width: 100px;
}

 */
.par {
    background-color: red;
}

.special {
    background-color: blue;
}